/**
* Config
* Colours
* Utils
* Base
* Layers
* Button
*/

/**
* Config
*/

$transitionDuration: 200ms;
$transitionOutDuration: 15000ms;
$fadeOutTimingFunction: cubic-bezier(0.15, 0.41, 0.75, -0.4);

/**
* Colours
*/

$black: #191917;
$green: #2fd566;

/**
* Utils
*/

.does-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.clamp {
  display: -webkit-box;
  overflow: hidden;
  cursor: default;
  text-overflow: ellipsis;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/**
* Base
*/

html,
body {
  height: 100%;
  background-color: transparent; // prevents white flash
}

body {
  position: relative;
  overflow: hidden;
  user-select: none;
  -webkit-app-region: drag;
  text-align: center;
  color: white;
  background-color: black;
  font-family: sans-serif;
  font-size: calc(12px + (5 + 12) * (100vw - 100px) / (400 - 100));
  font-weight: 300;
}

/**
* Layers
*/

.layer-track {
  z-index: 2;
  display: flex;
  flex-direction: column;

  @extend .does-cover;

  .details {
    display: flex;
    flex-basis: 70%;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    transition: opacity $transitionOutDuration $fadeOutTimingFunction 5000ms;
    opacity: 0;

    html:hover & {
      transition: opacity 150ms linear 0ms;
      opacity: 1;
    }
  }

  .detail {
    padding: 2%;
  }

  .artist {
    color: #2fd566;
  }

  .controls {
    display: flex;
    flex-basis: 30%;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0 10%;
    transition: opacity 1000ms linear 5000ms;
    opacity: 0;

    html:hover & {
      transition: opacity 150ms linear 0ms;
      opacity: 1;
    }
  }
}

.layer-art {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity $transitionOutDuration $fadeOutTimingFunction 5000ms;
  pointer-events: none;
  opacity: 1;
  background-size: cover;

  html:hover & {
    transition: opacity 150ms linear 0ms;
    opacity: 0.2;
  }
}

/**
* Button
*/

button {
  transition: opacity 100ms linear;
  opacity: 0.5;
  color: white;
  border: 0;
  outline: none;
  background-color: transparent;
  font-size: calc(18px + (24 + 18) * (100vw - 100px) / (400 - 100));

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }
}
