// Colours
$black: #191917;
$green: #2fd566;

html,
body,
#wrapper {
  height: 100%;
}

body {
  user-select: none;
  -webkit-app-region: drag;
  font-family: sans-serif;
  font-size: 16px;
}

#wrapper {
  display: flex;
}

.dimmer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: opacity 200ms linear;
  opacity: 0;
  background: $black;

  .is-paused &,
  #wrapper:hover & {
    opacity: 0.7;
  }
}

#details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 70px;
}

.trackDetails {
  display: flex;
  overflow: hidden;
  flex-basis: 50%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 35px;
  padding: 3px;
  cursor: default;
  transition: color 200ms linear;
  text-align: center;
  color: #f9f9f9;
  background-color: $black;
}

#trackName {
  background-color: lighten($black, 5%);
}

#art {
  display: flex;
  flex-basis: 70px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  text-align: center;
  color: rgba(255,255,255,0.6);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  > .icon-pause {
    transition: opacity 200ms linear;
    transition-delay: 300ms;
    transform: scale(1.5);
    opacity: 0.5;

    #wrapper:hover &,
    #wrapper:not(.is-paused) & {
      transition-delay: 0ms;
      opacity: 0;
    }
  }
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;

  .control {
    display: flex;
    flex-basis: calc(100% / 3);
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    transition: opacity 200ms linear;
    transform-origin: center center;
    opacity: 0;

    #wrapper:hover & {
      opacity: 0.5;
    }

    &:hover {
      opacity: 1 !important;

      .icon {
        transform: scale(1.1);
      }
    }

    &:active {
      .icon {
        transform: scale(1);
      }
    }
  }
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: default;
  border: none;
  outline: none;
  background-color: transparent;

  &-circle {
    border: 1px solid white;
    border-radius: 50%;
  }
}

.icon {
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  cursor: default;

  &:before,
  &:after {
    position: absolute;
    display: block;
    content: '';
    cursor: default;
  }
}

.icon-previous {
  &:before {
    left: 2px;
    width: 0;
    height: 0;
    border-top: solid 6px transparent;
    border-right: solid 6px white;
    border-bottom: solid 6px transparent;
  }

  &:after {
    left: 0;
    width: 2px;
    height: 12px;
    background-color: white;
  }
}

.icon-next {
  &:before {
    right: 0;
    width: 2px;
    height: 12px;
    background-color: white;
  }

  &:after {
    right: 2px;
    width: 0;
    height: 0;
    border-top: solid 6px transparent;
    border-bottom: solid 6px transparent;
    border-left: solid 6px white;
  }
}

.icon-play {
  left: 14px;
  width: 0;
  height: 0;
  border-top: solid 6px transparent;
  border-bottom: solid 6px transparent;
  border-left: solid 11px white;
}

.icon-pause {
  &:before {
    left: 1px;
    width: 3px;
    height: 12px;
    background-color: white;
  }

  &:after {
    left: 8px;
    width: 3px;
    height: 12px;
    background-color: white;
  }
}
