/**
* Config
* Colours
* Utils
* Base
* Layers
* Icon
* Button
*/

/**
* Config
*/

$transitionDuration: 200ms;

/**
* Colours
*/

$black: #191917;
$green: #2fd566;

/**
* Utils
*/

.does-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// .flex-center {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

/**
* Base
*/

html,
body {
  height: 100%;
  background-color: transparent; // prevents white flash
}

body {
  position: relative;
  overflow: hidden;
  user-select: none;
  -webkit-app-region: drag;
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: calc(12px + (5 + 12) * (100vw - 100px) / (400 - 100));
  font-weight: 300;
}

/**
* Layers
*/

.layer-track {
  z-index: 2;
  display: flex;
  flex-direction: column;
  transition: opacity 500ms linear 5000ms;
  opacity: 0;

  @extend .does-cover;

  html:hover & {
    transition: opacity 150ms linear 0ms;
    opacity: 1;
  }

  .details {
    display: flex;
    flex-basis: 70%;
    flex-direction: column;
    justify-content: center;
    padding: 10% 5%;
  }

  .detail {
    padding: 1%;
  }

  .artist {
    color: #2fd566;
  }

  .controls {
    display: flex;
    flex-basis: 30%;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0 10%;
  }
}

.clamp {
  display: -webkit-box;
  overflow: hidden;
  cursor: default;
  text-overflow: ellipsis;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

button {
  transition: opacity 100ms linear;
  opacity: 0.5;
  color: white;
  border: 0;
  outline: none;
  background-color: transparent;
  font-size: calc(18px + (24 + 18) * (100vw - 100px) / (400 - 100));

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }
}

.layer-art {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 500ms linear 5000ms;
  pointer-events: none;
  opacity: 1;
  background-size: cover;

  html:hover & {
    transition: opacity 150ms linear 0ms;
    opacity: 0;
  }
}



/**
* Layers
*/

// .layer-track-and-controls {
//   @extend .does-cover;

//   .details {
//     height: 60%;
//     padding: 5px;
//   }

//   .controls {
//     height: 40%;
//     padding: 5px;
//   }
// }

// .layer-openSpotify {
//   transition: opacity $transitionDuration linear;
//   pointer-events: none;
//   opacity: 0;
//   background-color: $black;

//   @extend .flex-center;
//   @extend .does-cover;

//   .spotify-not-open & {
//     pointer-events: auto;
//     opacity: 1;
//   }
// }

// .layer-dimmer {
//   transition: opacity $transitionDuration linear;
//   opacity: 0;
//   background: $black;

//   @extend .does-cover;
//   @extend .flex-center;

//   .is-paused &,
//   body:hover & {
//     opacity: 0.7;
//   }
// }

// .layer-track {
//   display: flex;

//   @extend .does-cover;

//   .art {
//     flex-basis: 70px;
//     flex-shrink: 0;
//     width: 70px;
//     height: 70px;
//     text-align: center;
//     color: rgba(255,255,255,0.6);
//     background-repeat: no-repeat;
//     background-position: center center;
//     background-size: cover;

//     @extend .flex-center;

//     .spotify-not-open & {
//       opacity: 0;
//     }
//   }

//   .details {
//     display: flex;
//     flex-direction: column;
//     flex-grow: 1;
//     height: 70px;

//     .spotify-not-open & {
//       pointer-events: none;
//       opacity: 0;
//     }
//   }

//   .detail {
//     overflow: hidden;
//     flex-basis: 50%;
//     flex-grow: 1;
//     height: 35px;
//     padding: 3px;
//     cursor: default;
//     transition: color $transitionDuration linear;
//     text-align: center;
//     color: #f9f9f9;
//     background-color: $black;

//     @extend .flex-center;

//     &:last-child {
//       background-color: lighten($black, 5%);
//     }
//   }
// }

// .layer-pauseIcon {
//   pointer-events: none;

//   @extend .flex-center;
//   @extend .does-cover;

//   > .icon-pause {
//     transition: opacity $transitionDuration linear;
//     transition-delay: 300ms;
//     transform: scale(1.5);
//     opacity: 0.5;

//     .spotify-not-open &,
//     body:hover &,
//     body:not(.is-paused) & {
//       transition-delay: 0ms;
//       opacity: 0;
//     }
//   }
// }

// .layer-controls {
//   flex-grow: 1;
//   transition: opacity $transitionDuration linear;
//   text-align: center;
//   opacity: 0;
//   color: white;

//   @extend .does-cover;
//   @extend .flex-center;

//   body:hover & {
//     opacity: 1;
//   }

//   .spotify-not-open & {
//     pointer-events: none;
//     opacity: 0;
//   }

//   .control {
//     flex-basis: calc(100% / 3);
//     flex-grow: 1;
//     flex-shrink: 0;
//     transform-origin: center center;

//     @extend .flex-center;
//   }
// }

/**
* Icon
*/

// .icon {
//   position: absolute;
//   display: block;
//   width: 12px;
//   height: 12px;
//   cursor: default;

//   &:before,
//   &:after {
//     position: absolute;
//     display: block;
//     content: '';
//     cursor: default;
//   }
// }

// .icon-previous {
//   &:before {
//     left: 2px;
//     width: 0;
//     height: 0;
//     border-top: solid 6px transparent;
//     border-right: solid 6px white;
//     border-bottom: solid 6px transparent;
//   }

//   &:after {
//     left: 0;
//     width: 2px;
//     height: 12px;
//     background-color: white;
//   }
// }

// .icon-next {
//   &:before {
//     right: 0;
//     width: 2px;
//     height: 12px;
//     background-color: white;
//   }

//   &:after {
//     right: 2px;
//     width: 0;
//     height: 0;
//     border-top: solid 6px transparent;
//     border-bottom: solid 6px transparent;
//     border-left: solid 6px white;
//   }
// }

// .icon-play {
//   left: 14px;
//   width: 0;
//   height: 0;
//   border-top: solid 6px transparent;
//   border-bottom: solid 6px transparent;
//   border-left: solid 11px white;
// }

// .icon-pause {
//   &:before {
//     left: 1px;
//     width: 3px;
//     height: 12px;
//     background-color: white;
//   }

//   &:after {
//     left: 8px;
//     width: 3px;
//     height: 12px;
//     background-color: white;
//   }
// }

/**
* Button
*/

// .button {
//   position: relative;
//   width: 40px;
//   height: 40px;
//   cursor: default;
//   transition: all 100ms linear;
//   opacity: 0.5;
//   border: none;
//   outline: none;
//   background-color: transparent;

//   @extend .flex-center;

//   &:hover {
//     transform: scale(1.03);
//     opacity: 1;
//   }

//   &:active {
//     transform: scale(1);
//     opacity: 0.5;
//   }

//   &-circle {
//     border: 1px solid white;
//     border-radius: 50%;
//   }

//   &-text {
//     width: 150px;
//     color: white;
//     border: 1px solid $green;
//     border-radius: 4px;
//     font-size: 16px;
//   }
// }
