/**
* Config
* Colours
* Utils
* Base
* Layers
* Icon
* Button
*/

/**
* Config
*/

$transitionDuration: 200ms;

/**
* Colours
*/

$black: #191917;
$green: #2fd566;

/**
* Utils
*/

.does-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
* Base
*/

html,
body {
  height: 100%;
}

body {
  user-select: none;
  -webkit-app-region: drag;
  font-family: sans-serif;
}

/**
* Layers
*/

.layer-openSpotify {
  transition: opacity $transitionDuration linear;
  pointer-events: none;
  opacity: 0;
  background-color: $black;

  @extend .flex-center;
  @extend .does-cover;

  .spotify-not-open & {
    pointer-events: auto;
    opacity: 1;
  }
}

.layer-dimmer {
  transition: opacity $transitionDuration linear;
  opacity: 0;
  background: $black;

  @extend .does-cover;
  @extend .flex-center;

  .is-paused &,
  body:hover & {
    opacity: 0.7;
  }
}

.layer-track {
  display: flex;

  @extend .does-cover;

  .art {
    flex-basis: 70px;
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    text-align: center;
    color: rgba(255,255,255,0.6);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @extend .flex-center;

    .spotify-not-open & {
      opacity: 0;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 70px;

    .spotify-not-open & {
      pointer-events: none;
      opacity: 0;
    }
  }

  .detail {
    overflow: hidden;
    flex-basis: 50%;
    flex-grow: 1;
    height: 35px;
    padding: 3px;
    cursor: default;
    transition: color $transitionDuration linear;
    text-align: center;
    color: #f9f9f9;
    background-color: $black;

    @extend .flex-center;

    &:last-child {
      background-color: lighten($black, 5%);
    }
  }
}

.layer-pauseIcon {
  pointer-events: none;

  @extend .flex-center;
  @extend .does-cover;

  > .icon-pause {
    transition: opacity $transitionDuration linear;
    transition-delay: 300ms;
    transform: scale(1.5);
    opacity: 0.5;

    .spotify-not-open &,
    body:hover &,
    body:not(.is-paused) & {
      transition-delay: 0ms;
      opacity: 0;
    }
  }
}

.layer-controls {
  flex-grow: 1;
  transition: opacity $transitionDuration linear;
  text-align: center;
  opacity: 0;
  color: white;

  @extend .does-cover;
  @extend .flex-center;

  body:hover & {
    opacity: 1;
  }

  .spotify-not-open & {
    pointer-events: none;
    opacity: 0;
  }

  .control {
    flex-basis: calc(100% / 3);
    flex-grow: 1;
    flex-shrink: 0;
    transform-origin: center center;

    @extend .flex-center;
  }
}

/**
* Icon
*/

.icon {
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  cursor: default;

  &:before,
  &:after {
    position: absolute;
    display: block;
    content: '';
    cursor: default;
  }
}

.icon-previous {
  &:before {
    left: 2px;
    width: 0;
    height: 0;
    border-top: solid 6px transparent;
    border-right: solid 6px white;
    border-bottom: solid 6px transparent;
  }

  &:after {
    left: 0;
    width: 2px;
    height: 12px;
    background-color: white;
  }
}

.icon-next {
  &:before {
    right: 0;
    width: 2px;
    height: 12px;
    background-color: white;
  }

  &:after {
    right: 2px;
    width: 0;
    height: 0;
    border-top: solid 6px transparent;
    border-bottom: solid 6px transparent;
    border-left: solid 6px white;
  }
}

.icon-play {
  left: 14px;
  width: 0;
  height: 0;
  border-top: solid 6px transparent;
  border-bottom: solid 6px transparent;
  border-left: solid 11px white;
}

.icon-pause {
  &:before {
    left: 1px;
    width: 3px;
    height: 12px;
    background-color: white;
  }

  &:after {
    left: 8px;
    width: 3px;
    height: 12px;
    background-color: white;
  }
}

/**
* Button
*/

.button {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: default;
  transition: all 100ms linear;
  opacity: 0.5;
  border: none;
  outline: none;
  background-color: transparent;

  @extend .flex-center;

  &:hover {
    transform: scale(1.03);
    opacity: 1;
  }

  &:active {
    transform: scale(1);
    opacity: 0.5;
  }

  &-circle {
    border: 1px solid white;
    border-radius: 50%;
  }

  &-text {
    width: 150px;
    color: white;
    border: 1px solid $green;
    border-radius: 4px;
    font-size: 16px;
  }
}
