html,
body,
#wrapper {
  height: 100%;
}

body {
  user-select: none;
  -webkit-app-region: drag;
  font-family: sans-serif;
  font-size: 14px;
}

#wrapper {
  display: flex;
}

#details {
  width: 100px;
  height: 100px;
}

.trackDetails {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 2px;
  cursor: default;
  text-align: center;
  color: #f9f9f9;
  background-color: #232323;
}

#trackArtist {
  background-color: #131313;
}

#art {
  position: relative;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#pauseIcon {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: opacity 100ms linear;
  pointer-events: none;
  opacity: 0;
  color: white;
  font-size: 30px;
}

#wrapper.showPause #pauseIcon {
  opacity: 1;
}

#wrapper.showPause:hover #pauseIcon {
  opacity: 0;
}

#wrapper:hover #controls {
  opacity: 1;
}

#controls {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 4px;
  transition: opacity 100ms linear;
  opacity: 0;
  background-color: rgba(0,0,0,0.5);
  font-size: 30px;
}

#wrapper.showPause #controls {
  opacity: 1;
  background-color: rgba(0,0,0,0.5);
}

.control {
  padding: 4px;
  cursor: default;
  text-align: center;
  opacity: 0;
  color: rgba(255,255,255,0.6);
}

#wrapper:hover .control {
  transition: opacity 100ms linear;
  opacity: 1;
}

.control:hover {
  transform: scale(1.1);
  color: white;
}

.control:active {
  transform: scale(1);
  color: white;
}

#playPause {
  flex-grow: 1;
  font-size: 35px;
}
