body {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #363636;
  line-height: 1.6;
  font-size: 19px;
  text-align: center;
  margin: 0;
}

h2,
p {
  margin: 0 0 2rem;
}

h2 {
  font-size: 3rem;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: #ec45ab;
}

a:hover {
  text-decoration: underline;
}

header {
  background: linear-gradient(to bottom, #191917 80%, white 0%);
  padding: 3rem 1rem 0;
  color: white;
}

main {
  padding: 0 1rem 3rem;
  max-width: 700px;
  margin: 0 auto;
}

footer {
  border-top: 1px solid #2fd566;
  padding: 2rem 1rem 3rem;
  max-width: 700px;
  margin: 0 auto;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 7px 12px;
  text-decoration: none;
  border: 4px solid #8c8c8b;
  background: transparent;
  font-weight: 600;
  color: #8c8c8b;
  transition: all 150ms ease-in-out;
}

.button:hover {
  background-color: #2fd566;
  border-color: #2fd566;
  color: white;
  text-decoration: none;
}

.button--pink {
  border-color: #ec45ab;
  color: #ec45ab;
}

.button--pink:hover {
  background-color: #ec45ab;
  border-color: #ec45ab;
  color: white;
}

.button > svg {
  margin-right: 8px;
}

.justify {
  text-align: justify;
}

@keyframes blob1Anim {
  0% {
    transform: scale(calc(1 / 3)) translate(-150%, 150%);
  }
  25% {
    transform: scale(1.5) translate(0, 0);
  }
  50% {
    transform: scale(calc(1 / 3)) translate(-150%, 150%);
  }
  100% {
    transform: scale(calc(1 / 3)) translate(-150%, 150%);
  }
}

@keyframes blob2Anim {
  0% {
    transform: scale(1) translate(50%, -50%);
  }
  25% {
    transform: scale(1.5) translate(0, 0);
  }
  50% {
    transform: scale(1) translate(50%, -50%);
  }
  100% {
    transform: scale(1) translate(50%, -50%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  height: 200px;
  width: 200px;
  position: relative;
  background-size: cover;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.blobs {
  filter: url('#goo');
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation-name: fadeOut;
  animation-duration: 500ms;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  opacity: 1;
}

.blob {
  position: absolute;
  background: #2fd566;
  left: 50%;
  top: 50%;
  width: 30%;
  height: 30%;
  border-radius: 100%;
  margin-top: -15%;
  margin-left: -15%;
  will-change: contents;
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.blob1 {
  animation-name: blob1Anim;
}

.blob2 {
  animation-name: blob2Anim;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  z-index: 2;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-size: 5rem;
  font-family: 'Passion One', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  line-height: 1;
}

#logo-filter {
  /* hide the space taken up by the filter svg; display none causes the blobs not to show */
  height: 0;
}

.tagline {
  margin-bottom: 4rem;
}

.screenshots {
  position: relative;
  max-width: 576px;
  width: 100%;
  margin: 0 auto 2rem auto;
}

.screenshots img {
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.screenshots img:last-child {
  position: absolute;
  left: 0;
  width: 100%;
  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
}
